[Unit]
Description=Turrican's CD Publish API
Documentation=http://todo
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
PIDFile=/var/run/tns-publishapi.pid
User=publish-api
Group=publish-api
Environment="LOGS=/var/log/tnspublishapi"
WorkingDirectory=/opt/publish-api
ExecStart=/opt/publishapi-start.sh
ExecStop=/opt/publishapi-stop.sh
Restart=on-failure
SyslogIdentifier=publishapi

[Install]
WantedBy=multi-user.target